# Allow init to bind mount over vendor file
allow init { system_file vendor_file }:file mounton;

# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;

# Allow init to mount overlay files
allow init rootfs:file mounton;
allow init vendor_overlay_file:file mounton;

permissive init;
